/.Rproj.user
/6952_7\#3.fa
/6952_7\#3.gff
/assemblies
/assemblies.tar.bz2
/clusters
/core_genome_aln.tree
/fsm_file_list.txt
/gene_presence_absence.Rtab
/lineages.txt
/mash_sketch.msh
/penicillin.lasso.pkl
/pyseer_tutorial.tar.bz2
/reference_list.txt
/resistances.pheno
/selected.txt
/snps.vcf.gz
/Spn23F.fa
/Spn23F.gff
/test_lasso.pkl
/test_predictions.txt
/test.samples
/train.pheno
/output
/test.pheno
.Rproj.user
/.RData
/.Rhistory
/fsm_kmers.txt.gz
/lineage_effects.txt
/mash_mds.pkl
/mash.tsv
/penicillin_COGs.txt
/penicillin_SNPs.txt
